@import url('https://fonts.googleapis.com/css?family=Khula');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
* {
    margin: 0 auto;
}

body, html {
    height: 100%;
    overflow: hidden;
}

.bg-image {
    /* Background image used */
    background-image: url("https://4.bp.blogspot.com/-24x23Te7b_0/VWcHnvt-5VI/AAAAAAABjT0/TzjTu3JmLKo/s0/Manhattan_Empire_State_Building_uhd.jpg");
    /* Center & sclare the image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* full height */
    height: 100%;
    /* Prevent blur from affecting all child elements */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(0px);
    z-index: -1;
}

#main {
    background-color: #474747;
}

#main h1 {
    border-bottom: 2px solid snow;
    color: snow;
    font-weight: bold;
    font-family: 'Khula', sans-serif;
    text-align: center;
    max-width: 345px;
    margin-top: 20px;
}

#main .main-content {
   padding: 5px;
}

/* Weather-block & block-opacity are utility classes for containing boxes */
.weather-block {
    margin-top: 20px;
    padding: 10px;
    color: black;
    font-weight: bold;
    position: relative;
}

.block-opacity {
    box-shadow: 5px 5px 15px black;
    border: 1px solid white;
    border-radius: 10px;
    /* Prevent opacity from blurring text */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    opacity: .35;
    z-index: -1;
}

.location {
    margin-bottom: 10px;
    margin-top: 5px;
    display: inline-block;
    overflow: hidden;
    text-align: center;
    width: 100%;
}

.location p {
    font-size: 20px;
    display: inline;
}

.location i {
    margin-right: 3px;
    color: black;
}

#main-weather-info {
    padding: 15px;
    width: 90%;
}

#main-weather-info .box {
   text-align: center;
   margin-bottom: 20px;
   display: block;
}

#main-weather-info canvas {
  color: black; 
}

#main-weather-info p {
    color: black;
    font-weight: bold;
    font-family: 'Khula', sans-serif;
    font-size: 20px;
}

#main-weather-info #temperature, #high, #low, #type, #precipType, #precipChance, #windSpeed, #humidity, #summary, .inlineSlash {
    display: inline-block;
    font-size: 20px;
}

#high {
    color: #a01010;
}

#low {
    color: blue;
}


/* General location of toggle button */
#switch-button {
    margin-top: 3px;
    text-align: center;
    opacity: .9;
}

#switch-button p {
  color: black;
  margin: 8px;
  font-size: 30px;
  font-weight: bold;
  display: inline;
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}


/* Hide default HTML checkbox */

.switch input {
    display: none;
}


/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/* End of switch button */


/* Desktop media query */

@media(min-width: 400px) {
  #main-weather-info {
      width: 400px;
  }
}
@media (min-width: 768px) {

}
