@import url('https://fonts.googleapis.com/css?family=Khula');
* {
    margin: 0 auto;
}

body, html {
    height: 100%;
    position: relative;

}

.bg-image {
    /* Background image used */
    background-image: url("https://4.bp.blogspot.com/-24x23Te7b_0/VWcHnvt-5VI/AAAAAAABjT0/TzjTu3JmLKo/s0/Manhattan_Empire_State_Building_uhd.jpg");
    /* Center & sclare the image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* full height */
    height: 100%;
    /* Prevent blur from affecting all child elements */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(1.5px);
    z-index: -1;
}

#main {
    background-color: #474747;
}

#main h1 {
    border-bottom: 2px solid snow;
    padding-bottom: 15px;
    color: snow;
    font-weight: bold;
    font-family: 'Khula', sans-serif;
    text-align: center;
    max-width: 345px;
    margin-top: 30px;
}

#main .center-weather {
    margin-top: 100px;
    text-align: center;
    padding: 15px;
    color: snow;
    font-weight: bold;
    position: relative;
}

#main .opacity {
    box-shadow: 5px 5px 15px black;
    border: 1px solid snow;
    border-radius: 10px;
    /* Prevent opacity from blurring text */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: snow;
    opacity: .4;
    z-index: -1;
}

.center-weather hr {
    border-width: small;
    border-color: black;
}

.weather-info p {
  color: black;
}

.weather-info #temperature {
    float: left;
    width: 60%;
    font-size: 20px;
}

.weather-info #type {
    font-size: 20px;
    float: left;
    width: 30%;
}

.center-weather .separator {
    clear: both;
}


/* Switch CSS */


/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}


/* Hide default HTML checkbox */

.switch input {
    display: none;
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#switch-button {
  text-align: center;
}

/* End of switch button */


/* Desktop media query */

@media (min-width: 768px) {
    .center-weather {
        margin-left: 12%;
        margin-right: 12%;
    }
    .weather-info .icon {
        float: left;
        width: 60%;
    }
    .weather-info #temperature {
        width: 30%;
    }
    .weather-info #type {
        width: 10%;
    }
}
